{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <div class="col-md-1"></div>

        <!--<div class="col-md-7" style="max-width: 1000px;">-->
        <div class="col-md-10">
            <div class="plot-container-1" data-num="0">
                    <div id="plotdiv"></div>
                <hr>
                    <div class="row">
                        <div class="col-md-4">
                            X : <select class="countrydata-x"></select>
                        </div>
                        <div class="col-md-4">
                            Y : <select class="countrydata-y"></select>
                        </div>
                    </div>
            </div>
        </div>

        <div class="col-md-1"></div>

    </div>
</div>
<script>
/* JAVASCRIPT CODE GOES HERE */

Plotly.d3.csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminderDataFiveYear.csv', function(err, rows){

    function unpack(rows, key) {
        return rows.map(function(row) { return row[key]; });
    }

var allCountryNames = unpack(rows, 'country'),
    allYear = unpack(rows, 'year'),
    allGdp = unpack(rows, 'gdpPercap'),
    listofCountries = [],
    currentCountry,
    currentGdp = [],
    currentYear = [];

  for (var i = 0; i < allCountryNames.length; i++ ){
    if (listofCountries.indexOf(allCountryNames[i]) === -1 ){
      listofCountries.push(allCountryNames[i]);
    }
  }

  function getCountryData(chosenCountry) {
    currentGdp = [];
    currentYear = [];
    for (var i = 0 ; i < allCountryNames.length ; i++){
      if ( allCountryNames[i] === chosenCountry ) {
        currentGdp.push(allGdp[i]);
        currentYear.push(allYear[i]);
      }
    }
  };

function initBubblePlot(chosenCountry) {
    getCountryData(chosenCountry);

    var trace1 = {
      x: currentYear,
      y: currentGdp,
      mode: 'markers+lines',
      line: {
          opacity : 0.8,
          color : "black",
      },
      marker: {
        size: 12,
        opacity: 0.5,
        color : "black"
      }
    };

    var data = [trace1];

    var layout = {
      //autosize: true,
      //title: 'GDP per cap according to Country<br>'+ chosenCountry + ' GDP',
      title: 'GDP per cap according to Country',
      xaxis: {
          autorange: true,
          showgrid: true,
          zeroline: false,
          showline: true,
          autotick: true,
          ticks: 'inside',
          showticklabels: true
      },
      yaxis: {
          autorange: true,
          showgrid: true,
          zeroline: false,
          showline: true,
          autotick: true,
          ticks: 'inside',
          showticklabels: true
      }
    };

    var config = {
        responsive: true,
        showSendToCloud: true
    };

    Plotly.newPlot('plotdiv', data, layout, config);
};

function updateBubblePlot(chosenCountry, axis) {

    if (chosenCountry!="Year") {
        getCountryData(chosenCountry);
        if (axis=='x') {
            var update = {
                x : [currentGdp],
                mode: 'markers',
            };
        } else if (axis=="y") {
            var update = {
                y : [currentGdp],
            };
        } else {
            var update = {};
        }
    } else {
        getCountryData(countrySelector_y.value);
        if (axis=='x') {
            console.log("update year x");
            var update = {
                x : [currentYear],
                mode: 'markers+lines',
            };
        } else {
            var update = {};
        }
    }
    Plotly.restyle('plotdiv', update, 0);
};

// Default Country Data
initBubblePlot('Afghanistan');

var innerContainer = document.querySelector('[data-num="0"'),
    //plotEl = innerContainer.querySelector('.plot'),
    countrySelector_x = innerContainer.querySelector('.countrydata-x');
    countrySelector_y = innerContainer.querySelector('.countrydata-y');

function assignOptions(textArray, selector) {
  for (var i = 0; i < textArray.length;  i++) {
      var currentOption = document.createElement('option');
      currentOption.text = textArray[i];
      selector.appendChild(currentOption);
  }
}

function assignOptionString(s, selector) {
      var currentOption = document.createElement('option');
      currentOption.text = s;
      selector.appendChild(currentOption);
}


assignOptionString("Year", countrySelector_x);
assignOptions(listofCountries, countrySelector_x);
assignOptions(listofCountries, countrySelector_y);

function updateCountry_x(){
    updateBubblePlot(countrySelector_x.value, 'x');
}
function updateCountry_y(){
    updateBubblePlot(countrySelector_y.value, 'y');
}

countrySelector_x.addEventListener('change', updateCountry_x, false);
countrySelector_y.addEventListener('change', updateCountry_y, false);
});

</script>

{% endblock %}
